.exo-layout-builder {

  &.layout-builder {
    display: block;
    padding: $global-padding;
    border: 0;
  }

  .exo-form-element-type-vertical-tabs {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 905;
    text-align: center;
    pointer-events: none;
    margin-bottom: 0 !important;

    > .exo-form-vertical-tabs {
      display: inline-block;
      margin: 0 auto;
      background: gray(80);
      border-top: 1px solid gray(50);
      border-top: 0;
      border-radius: 5px 5px 0 0;
      box-shadow: 0 0 20px alpha(theme-black, 0.4);
      pointer-events: auto;
    }

    .exo-form-container-revision {
      margin: 0;
    }

    .vertical-tabs__menu {
      display: none;
    }

    .vertical-tabs__panes {
      background: transparent !important;
      border: 0 !important;

      .vertical-tabs__pane {
        padding: $global-padding * 0.5 !important;
      }
    }

    .exo-form-checkbox {

      label.option {
        font-weight: 700;
        font-size: rem-calc(12);
        text-transform: uppercase;
        color: gray(0) !important;
      }
    }
  }

  .exo-layout-builder-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 905;
    text-align: center;
    pointer-events: none;

    .exo-layout-builder-top-inner {
      display: inline-block;
      margin: 0 auto;
      background: gray(80);
      border-bottom: 1px solid gray(50);
      border-top: 0;
      border-radius: 0 0 5px 5px;
      box-shadow: 0 0 20px alpha(theme-black, 0.4);
      pointer-events: auto;

      .exo-form-element {
        margin: 0;
      }

      .form-actions,
      .exo-form {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: $global-padding * 0.5;
        margin: 0;

        > * {
          margin: 0 $global-margin * 0.25;
        }

        .button {
          font-size: rem-calc(12);
          border-radius: 3px;
          transition: background-color $global-speed;
          border: 0;
          padding: $global-padding;

          &.exo-layout-builder-submit {
            font-weight: 700;
          }
        }

        .toggle-content-preview {

          label.option {
            font-weight: 700;
            font-size: rem-calc(12);
            text-transform: uppercase;
            color: gray(0);
          }
        }
      }
    }

    .layout-builder__message {
      display: none;
      margin: 0;

      .messages {
        font-size: rem-calc(11);
        background: color(theme-success);
        padding: rem-calc(5 10);
        margin: 0;
      }
    }
  }

  .layout-builder__section {
    margin: 0 !important;

    .layout-builder__region {
      outline: none;
    }

    > .layout-builder__info,
    > .layout-builder__link {
      display: inline-block;
      height: auto;
      width: auto;
      margin: 0;
      border: 0;
      font-size: rem-calc(12);
      line-height: rem-calc(12);
      padding: rem-calc(5);
      margin-bottom: $global-margin * 0.5;
      vertical-align: bottom;
    }

    > .layout-builder__info {
      background-color: gray(50);
      text-transform: uppercase;
      font-size: rem-calc(10);
      color: gray(0);
      border-radius: $global-radius;

      &.layout-builder__info--alert {
        background-color: color(theme-alert);
      }

      &.layout-builder__info--warning {
        background-color: color(theme-warning);
      }
    }

    > .layout-builder__link {
      overflow: hidden;
      background-color: gray(80);
      background-image: none;
      color: gray(0);
      text-indent: 0;
      overflow: hidden;
      text-shadow: none;
      border-radius: 0;
      transition: background-color $global-speed;

      &:first-of-type {
        border-radius: $global-radius 0 0 $global-radius;
      }

      &:last-of-type {
        border-radius: 0 $global-radius $global-radius 0;
      }

      &:hover,
      &:active,
      &:focus {
        background-image: none;
        color: gray(0);
        background-color: gray(70);
      }
    }

    .layout-builder__add-block {
      padding: 0;
      margin: 0;
      background: none;
    }
  }

  .layout-builder__link--add {
    @include exo-icon('regular', f055) {
      padding-right: rem-calc(5);
    };
    display: block;
    padding: $global-padding;
    margin: $global-padding * 0.5 0 0;
    background-image: none;
    font-size: rem-calc(14);
    // text-transform: uppercase;
    font-weight: 400;
    transition: color $global-speed;
    background-color: gray(15);
    color: gray(80);
    transition: background-color $global-speed;
    border-radius: $global-radius;

    em {
      font-weight: 700;
      font-style: normal;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: gray(25);
    }
  }

  .layout-builder__add-section {
    border: 0;
    outline: none;
    padding: 0;
    margin: 0 $global-margin * 0.5 $global-margin * 0.5;
    width: auto;

    .layout-builder__link--add {
      background-color: gray(5);
      padding: $global-padding;
      margin: $global-padding * 0.5 0;

      &:hover,
      &:active,
      &:focus {
        background-color: gray(15);
      }
      // border: 1px solid alpha(theme-gray, 0.3);
      // outline: none;
      // // outline: 1px dashed color(theme-gray);
      // background-color: alpha(theme-gray, 0.1);
    }
  }
}

.layout-selection {
  @include exo-grid;
  @include exo-gutters(top right bottom left, $negative: true);
  padding: 0;
  list-style: none;

  > li {
    @include exo-cell(6, top right bottom left);
    @include flex;
    text-align: center;

    a {
      @include flex;
      @include flex-align(center, middle);
      flex-direction: column;
      padding: $global-padding;
      height: 100%;
      width: 100%;
      font-size: rem-calc(12);
      text-transform: uppercase;
    }
  }
}

.exo-content .layout-builder-discard-changes,
.exo-content .layout-builder-revert-overrides {
  max-width: rem-calc(500);
  margin: $global-margin * 4 auto;
  background: color(theme-white);
  box-shadow: 0 0 30px alpha(theme-black, 0.2);
  padding: $global-padding * 2;
  text-align: center;

  .form-actions {
    @include flex;
    @include flex-align(center, middle);
    margin-top: $global-margin;

    .button {
      display: block !important;
      background: gray(55) !important;
      color: gray(0) !important;
      padding: $global-padding !important;
      transition: background-color $global-speed !important;
      text-align: center !important;
      border: 0 !important;
      box-shadow: 0 0 10px alpha(gray(100), 0.3) !important;
      height: auto !important;

      &.button--primary {
        background: gray(70) !important;
      }

      &:hover,
      &:active,
      &:focus {
        color: gray(0) !important;
        background: gray(60) !important;
      }
    }
  }
}

.exo-fixed {

  > .exo-fixed-region {
    position: static !important;
  }
}
