{#
/**
 * @file
 * Default theme implementation for the eXo toolbar region.
 *
 * @see template_preprocess_exo_toolbar_region()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  <div class="exo-toolbar-region-overflow">
    <div class="exo-toolbar-region-inner">
      {{ sections }}
    </div>
  </div>
  <div class="exo-toolbar-region-divider"></div>
</div>
