{#
/**
 * @file
 * Default theme implementation for the eXo toolbar section.
 *
 * @see template_preprocess_exo_toolbar_section()
 *
 * @ingroup themeable
 */
#}
<nav{{ attributes.addClass('exo-toolbar-section') }}>
  {{ items }}
</nav>
