@import 'exo-common';

.exo-component-preview-form {
  max-width: rem-calc(800);
  margin: 0 auto $global-margin;

  .exo-component-modify-button {
    display: block;
    background: gray(70);
    color: gray(0);
    padding: $global-padding;
    transition: background-color $global-speed;
    text-align: center;
    border: 0;
    box-shadow: 0 0 10px alpha(gray(100), 0.3);

    &:hover,
    &:active,
    &:focus {
      color: gray(0);
      background: gray(60);
    }
  }

  .messages.alchemist {
    margin: 0;
    background: gray(90);
    border: 1px solid gray(70);
    font-size: rem-calc(12);
    padding: $global-padding;

    .message {
      padding: 0;
      text-shadow: none;
    }
  }
}

.exo-component-preview {
  margin: 0 0 $global-margin;
  outline: 1px dashed alpha(color(theme-black), 0.3);
  outline-offset: 4px;
  box-shadow: 0 0 25px alpha(color(theme-black), 0.2);
  @include flex;

  > .layout {
    width: 100%;
  }
}
