@mixin label() {
  display: block;
  font-weight: normal;
  text-transform: none;
  padding: 0 0 3px;
  margin: 0;
  line-height: 1.1;
}

@mixin label-float() {
  @include label;
  position: absolute;
  z-index: 10;
  top: ($global-margin * .5);
  left: $global-padding / 2;
  transform: translateX(($global-padding / 2) * -1) translateY($label-height * -.9);
  font-size: $label-float-font-size;
}

@mixin label-overlay() {
  @include label-float;
  line-height: $input-height;
  font-size: $input-font-size;
  height: $input-height;
  padding: $input-padding;
  pointer-events: none;
  transform: translateX(0) translateY(0);
}

@mixin label-float-inside-wrapper() {
  position: relative;
  padding: 0;

  .description {
    margin-top: rem-calc(3);
  }

  > .field-label {
    @include label-overlay;
    top: 0;
    transform-origin: center left;
    // animation-name: floatInsideOut;
    // animation-duration: $global-speed * 2;
    transform: translateX(0) translateY(0) scale(1);
    transition: none !important;
  }

  &.value,
  &.force-active {
    @include label-float-inside-wrapper-active();
  }

  // @keyframes floatInsideIn {
  //   from {
  //     opacity: 0;
  //     margin-top: 5px;
  //   }
  //   to {
  //     opacity: 1;
  //     margin-top: 0;
  //     // font-size: $label-float-font-size;
  //   }
  // }

  // @keyframes floatInsideOut {
  //   0% {
  //     opacity: 1;
  //     margin-top: 0;
  //     transform: translateX(0) translateY($label-height * -.7) scale(0.7);
  //   }
  //   50% {
  //     opacity: 0;
  //     margin-top: 5px;
  //     transform: translateX(0) translateY($label-height * -.7) scale(0.7);
  //   }
  //   51% {
  //     opacity: 0;
  //     margin-top: 0;
  //     transform: translateX(0) translateY(0) scale(1);
  //   }
  //   100% {
  //     opacity: 1;
  //   }
  // }
}

@mixin label-float-inside-wrapper-active() {
  > .field-label {
    @include label;
    // animation-name: floatInsideIn;
    // animation-duration: $global-speed;
    transform: translateX(0) translateY($label-height * -.7) scale(0.7);
    overflow: hidden;
    right: -40%;
    white-space: nowrap;
    text-overflow: ellipsis;

    > * {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;

      > * {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
      }
    }
  }
}

@mixin placeholder-hide() {
  ::-webkit-input-placeholder {
    color: transparent !important;
  }

  :-moz-placeholder {
    color: transparent !important;
  }

  ::-moz-placeholder {
    color: transparent !important;
  }

  :-ms-input-placeholder {
    color: transparent !important;
  }

  ::placeholder {
    color: transparent !important;
  }
}

@mixin error() {
  display: block;
  padding: rem-calc(5 10);
  font-size: $message-font-size;
  line-height: $label-font-size;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  text-shadow: none;
  z-index: 10;
  margin: $global-margin / 2 0;
}

@mixin description() {
  font-size: $description-font-size;
  margin: 0;
  padding: 0;
  text-transform: none;
}

@mixin placeholder() {
  font-style: italic;
  font-weight: 300;
  font-size: rem-calc(14);
  opacity: 1 !important;
}

@mixin wrapper-label() {
  display: block;
  font-size: $wrapper-font-size;
  line-height: $wrapper-height;
  margin: 0;
  padding: 0;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}

@mixin wrapper-description() {
  font-size: $wrapper-description-font-size;
  font-weight: 300;
  margin: 0;
  padding: rem-calc(5 0 0);
}

@mixin exo-ripple() {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 100;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(1.5, 1.5);
    opacity: 0;
    overflow: hidden;
    transition: transform 0.5s, opacity 1s;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(0, 0);
    opacity: 0;
    overflow: hidden;
    transition: transform 0.5s, opacity 1s;
  }
}

@mixin exo-ripple-active() {

  &:before {
    transform: scale(0, 0);
    opacity: 0.2;
    transition: 0s;
  }
}

@mixin exo-ripple-focus() {

  &:after {
    opacity: 0.15;
    transform: scale(0.7, 0.7);
    transition: 0s;
  }
}
