////////////////////////////////////////////////////////////////////////////////
/// Wrapper
////////////////////////////////////////////////////////////////////////////////
$wrapper-height: rem-calc(16);
$wrapper-font-size: rem-calc(16);
$wrapper-description-font-size: rem-calc(13);

////////////////////////////////////////////////////////////////////////////////
/// Labels
////////////////////////////////////////////////////////////////////////////////
$label-height: rem-calc(20);
$label-font-size: rem-calc(14);
$label-float-font-size: rem-calc(11);
$label-transform: translateY($label-height * -1);

////////////////////////////////////////////////////////////////////////////////
/// Description
////////////////////////////////////////////////////////////////////////////////
$description-font-size: rem-calc(10);

////////////////////////////////////////////////////////////////////////////////
/// Inputs
////////////////////////////////////////////////////////////////////////////////
$input-height: rem-calc(40);
$input-font-size: rem-calc(15);
$input-padding-size: 0;
$input-padding: 0 $input-padding-size;
$input-line-height: rem-calc(26);

////////////////////////////////////////////////////////////////////////////////
/// Message
////////////////////////////////////////////////////////////////////////////////
$message-font-size: rem-calc(10);

////////////////////////////////////////////////////////////////////////////////
/// Checkbox
////////////////////////////////////////////////////////////////////////////////
$checkbox-size: rem-calc(28);
$checkbox-element-size: $checkbox-size * 0.8;
$checkbox-font-size: rem-calc(12);

////////////////////////////////////////////////////////////////////////////////
/// Radios
////////////////////////////////////////////////////////////////////////////////
$radio-size: rem-calc(28);
$radio-element-size: rem-calc(23);
$radio-font-size: rem-calc(12);

////////////////////////////////////////////////////////////////////////////////
/// Select
////////////////////////////////////////////////////////////////////////////////
$select-font-size: rem-calc(14);
$select-item-height: $input-height;
$select-optgroup-font-size: rem-calc(12);
$select-optgroup-height: $input-height;

////////////////////////////////////////////////////////////////////////////////
/// Tabs
////////////////////////////////////////////////////////////////////////////////
$tab-menu-width: rem-calc(200);
$tab-menu-font-size: rem-calc(14);
$tab-menu-font-weight: 700;

////////////////////////////////////////////////////////////////////////////////
/// Buttons
////////////////////////////////////////////////////////////////////////////////
$button-height: $input-height;
$button-padding: rem-calc(30);
$button-font-size: rem-calc(13);
