{#
/**
 * @file
 * Default theme implementation of a container used to wrap child elements.
 *
 * @see template_preprocess_exo_form_container()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  {{ children }}
</div>
