.exo-layout-builder {

  .exo-section {
    border: 1px solid gray(10);
    margin: $global-margin * 0.5 !important;
    padding: $global-padding * 0.5;

    &.exo-section-edit {
      border: 1px dashed gray(20);

      // a {
      //   pointer-events: auto !important;
      // }
    }

    .exo-section {

      &.exo-section-edit {

        a {
          pointer-events: none !important;
        }
      }
    }
  }

  .exo-component-wrapper {

    [tabindex="-1"] {
      pointer-events: none !important;
    }
  }

  .layout-builder--content-preview-disabled {

    .exo-component-wrapper {
      padding: 0 !important;
      background: transparent !important;
      margin: -($global-margin * 0.5) 0 !important;
      min-height: 0 !important;
    }

    .exo-component {
      display: none;
    }

    .layout-builder-block__content-preview-placeholder-label {
      display: block;
      background: gray(80) !important;
      color: gray(0) !important;
      font-size: rem-calc(16) !important;
      flex: 1 1 auto;
      padding: $global-padding;
      margin: $global-margin * 0.5 0;
      box-sizing: border-box;
    }
  }

  .field--name-moderation-state {
    padding: $global-padding;
    margin: 0 !important;
    background: gray(5);

    > .exo-form-element {
      @include flex;
      max-width: rem-calc(400);
      background: gray(0);
      border-radius: $global-radius;
      margin: 0 auto;
      box-shadow: 0 0 25px alpha(color(theme-black), 0.1);

      > .exo-form-element {
        flex: 0 0 auto;
        margin: $global-margin * 0.5;
        text-align: center;

        label {
          text-transform: uppercase;
          font-size: rem-calc(12);
        }

        &.exo-form-element-type-select {
          text-align: left;
          flex: 1 1 auto;
        }

        &.exo-form-element-type-item {

          .field-input {
            font-weight: 700;
            font-size: rem-calc(20);
          }
        }
      }
    }
  }

  .field--name-layout-builder__layout {
    display: none;
  }
}

.exo-component-hide {
  transition: visibility $global-speed, opacity $global-speed !important;
  transition-delay: 0 !important;

  &.exo-component-hide-active {
    visibility: hidden !important;
    pointer-events: none !important;
    opacity: 0 !important;
  }
}

.exo-component-field-edit {
  cursor: pointer;
}

.exo-component-edit,
.exo-component-edit-active .exo-component-edit {
  cursor: pointer;

  * {
    pointer-events: none !important;
  }

  .exo-component-field-edit {
    pointer-events: none !important;
  }

  &.exo-component-edit-active {
    cursor: auto;

    .exo-component-edit {
      pointer-events: auto !important;
    }

    .exo-component-field-edit {
      pointer-events: auto !important;

      > * {
        pointer-events: auto !important;
      }

      [tabindex="-1"] {
        pointer-events: none !important;
      }
    }

    .exo-component-event-allow {
      pointer-events: auto !important;
    }
  }

  &.exo-component-blocked {
    cursor: not-allowed;

    > .exo-component {
      pointer-events: none !important;
      // cursor: not-allowed;
    }

    &:hover {
      opacity: 0.9;
    }
  }
}

/**
 * Nested Sections
 */
.exo-layout-builder .exo-component-edit {

  .layout-builder__add-block a {
    opacity: 0.5;
    margin: 0;
  }

  .exo-component-edit:not(.exo-component-edit-active) {
    // pointer-events: auto !important;

    * {
      pointer-events: none !important;
    }
  }

  &.exo-component-edit-active {

    .layout-builder__add-block a {
      pointer-events: auto !important;
      opacity: 1;
    }
  }
}

.exo-alchemist-shade {
  position: absolute;
  z-index: 898;
  background: alpha(color(theme-black), 0.8);
  transition: all $global-speed;
  visibility: hidden;
  opacity: 0;
  pointer-events: none !important;

  &.restrict {
    pointer-events: auto !important;
  }
}

.exo-alchemist-highlight {
  position: absolute;
  z-index: 897;
  background: alpha(color(theme-white), 0.9);
  transition: all $global-speed;
  visibility: hidden;
  opacity: 0;
  pointer-events: none !important;

  &.restrict {
    pointer-events: auto !important;
  }
}

.exo-alchemist-overlay {
  position: absolute;
  z-index: 899;
  transition: all $global-speed;
  outline: 1px dashed color(theme-warning);
  outline-offset: 4px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 0 25px alpha(color(theme-black), 0.8);
  pointer-events: none !important;
}

.exo-alchemist-overlay-header {
  @include flex;
  @include flex-align(left, bottom);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
}

.exo-alchemist-ops {
  @include flex;
  @include flex-align(left, bottom);
  flex-wrap: wrap;
  // @include exo-progress-throbber();
  pointer-events: auto !important;
  flex: 1 1 auto;

  > span {
    @include flex;
    @include flex-align(center, bottom);
    flex-wrap: wrap;
    // flex-wrap: nowrap;
    line-height: 1.2;
    font-size: rem-calc(13);
    box-shadow: 0 -5px 10px -5px alpha(color(theme-black), 0.4);
    border-radius: $global-radius $global-radius 0 0;
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: center bottom;
    transition: color $global-speed, background-color $global-speed, transform $global-speed;
    background: gray(85);

    &.active {
      transform: scaleY(1);
    }
  }

  .exo-description {
    display: block;
    background: gray(80);
    color: gray(0);
    padding: rem-calc(5 10);
    white-space: nowrap;
    // border-radius: $global-radius $global-radius 0 0;
    margin-right: 2px;
    font-style: normal;
  }

  a {
    @include flex;
    @include flex-align(center, middle);
    padding: rem-calc(5 10);
    white-space: nowrap;
    background: gray(85);
    color: gray(0);
    transition: color $global-speed, background-color $global-speed;

    > * {
      margin: 0 1.5px;
    }

    // &:first-child {
    //   border-radius: $global-radius 0 0 0;
    // }

    // &:last-child {
    //   border-radius: 0 $global-radius 0 0;
    // }

    &:hover,
    &:active,
    &:focus {
      color: gray(0);
      background: gray(75);
    }

  }
}

.exo-alchemist-op-badge {
  display: inline-block;
  background: gray(70);
  border-radius: $global-radius;
  font-size: rem-calc(9);
  line-height: rem-calc(9);
  padding: rem-calc(2 4);
  text-transform: uppercase;
  vertical-align: middle;
}

.exo-alchemist-overlay-close {
  z-index: 10;
  pointer-events: auto !important;
  box-shadow: 0 -5px 10px -5px alpha(color(theme-black), 0.4);
  transform: scaleY(0);
  transform-origin: center bottom;
  transition: color $global-speed, background-color $global-speed, transform $global-speed;
  margin-left: rem-calc(2);

  a {
    display: block;
    padding: rem-calc(5 10);
    white-space: nowrap;
    line-height: 1.2;
    font-size: rem-calc(13);
    background: alpha(gray(0), 0.7);
    color: color(theme-alert);
    transition: color $global-speed, background-color $global-speed;
    border-radius: $global-radius $global-radius 0 0;

    &:hover,
    &:focus,
    &:active {
      background: color(theme-alert);
      color: gray(0);
    }

    .exo-icon-label {
      display: none;
    }
  }

  &.active {
    transform: scaleY(1);
  }
}

.exo-alchemist-target {
  position: absolute;
  z-index: 900;
  transition: all $global-speed;
  outline: 1px dashed color(theme-warning);
  outline-offset: 4px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 0 25px alpha(color(theme-black), 0.3);
  pointer-events: none !important;

  &.restrict {
    pointer-events: auto !important;
  }
}

.exo-alchemist-target-header {
  @include flex;
  @include flex-align(left, bottom);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;

  [data-align="right"] & {
    @include flex-align(right, bottom);
  }
}

.exo-alchemist-target-title {
  @include flex;
  @include flex-align(center, bottom);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  transform: scaleY(0);
  transform-origin: center bottom;
  transition: color $global-speed, background-color $global-speed, transform $global-speed;
  white-space: nowrap;

  &.active {
    transform: scaleY(1);
  }

  > span {
    display: block;
    line-height: 1.2;
    padding: rem-calc(5 8);
    background: gray(80);
    color: gray(0);
    // font-weight: 700;
    font-size: rem-calc(11);
    border-radius: $global-radius $global-radius 0 0;
  }
}

.exo-alchemist-target-ops {

  > span {
    font-size: rem-calc(12);
  }
}

.exo-alchemist-target-close {
  z-index: 10;
  box-shadow: 0 -5px 15px -5px alpha(color(theme-black), 0.3);
  transform: scaleY(0);
  transform-origin: center bottom;
  transition: color $global-speed, background-color $global-speed, transform $global-speed;
  margin-left: rem-calc(2);

  a {
    display: block;
    padding: rem-calc(5 10);
    line-height: 1.2;
    font-size: rem-calc(12);
    white-space: nowrap;
    background: alpha(gray(0), 0.7);
    color: color(theme-alert);
    transition: color $global-speed, background-color $global-speed;
    border-radius: $global-radius $global-radius 0 0;

    &:hover,
    &:focus,
    &:active {
      background: color(theme-alert);
      color: gray(0);
    }

    .exo-icon-label {
      display: none;
    }
  }

  &.active {
    transform: scaleY(1);
  }
}

.exo-alchemist-overlay .exo-alchemist-breadcrumbs {
  @include flex-align(left, middle);
  // display: none;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: color(theme-black);
  margin: 0;
  padding: 0 rem-calc(5);
  box-shadow: 0 0 25px alpha(color(theme-black), 0.8);
  pointer-events: auto !important;

  li {
    list-style: none;
    padding: rem-calc(5);

    &:last-child {

      a {

        &:after {
          display: none;
        }
      }
    }
  }

  a {
    color: color(theme-white);
    font-size: rem-calc(12);
    // text-transform: uppercase;
  }

  .exo-alchemist-breadcrumb-label {
    color: color(theme-white);
    font-size: rem-calc(10);
    font-weight: 300;
    opacity: 0.5;
    text-transform: uppercase;
  }

  .exo-alchemist-breadcrumb-field {

    a {
      @include exo-icon(regular, f105, after) {
        padding-left: rem-calc(10);
        color: color(theme-white);
        pointer-events: none !important;
      }
    }
  }
}

.exo-fixed-header .exo-fixed-element {
  position: static !important;
}
