////////////////////////////////////////////////////////////////////////////////
/// Theme Variables
/// -------
/// Place all base variables here.
////////////////////////////////////////////////////////////////////////////////

@use "sass:math";

$themes: (
  default: (
  ),
  inverse: (
    base: theme-offset,
    offset: theme-base,
    primary: theme-primary,
  ),
  primary: (
    base: theme-offset,
    offset: theme-primary,
    primary: theme-offset,
    description-color: primary (color-scale-inverse: 10%),
    input-prefix-suffix-color: primary (color-scale-inverse: 10%),
  ),
  secondary: (
    base: theme-offset,
    offset: theme-secondary,
    primary: theme-offset,
    description-color: primary (color-scale-inverse: 10%),
    input-prefix-suffix-color: primary (color-scale-inverse: 10%),
  ),
  white: (
    base: theme-black,
    offset: theme-white,
    primary: theme-primary,
  ),
  black: (
    base: theme-white,
    offset: theme-black,
    primary: theme-primary,
    form-bg-color: offset (color-scale-inverse: 5%),
  ),
  success: (
    base: theme-white,
    offset: theme-success,
    primary: theme-white,
    form-bg-color: offset (color-scale-inverse: 5%),
  ),
  warning: (
    base: theme-white,
    offset: theme-warning,
    primary: theme-white,
    form-bg-color: offset (color-scale-inverse: 5%),
  ),
  alert: (
    base: theme-white,
    offset: theme-alert,
    primary: theme-white,
    form-bg-color: offset (color-scale-inverse: 5%),
  ),
) !default;

$themes-global: (
  base: theme-base,
  offset: theme-offset,
  primary: theme-primary,
  secondary: theme-secondary,
  success: theme-success,
  warning: theme-warning,
  error: theme-alert,
  padding: 0 $global-padding * 0.5,
  label-color: base (color-scale-inverse: 30%),
  label-option-color: base,
  label-focus-color: primary,
  label-text-transform: none,
  label-font-size: rem-calc(15),
  label-font-option-size: rem-calc(15),
  label-font-weight: 400,
  label-font-option-weight: 400,
  label-letter-spacing: normal,
  description-color: base (color-scale-inverse: 20%),
  message-color: offset (color-scale-inverse: 60%),
  message-bg-color: offset (color-scale-inverse: 10%),
  border-color: offset (color-scale-inverse: 10%),
  border-style: solid,
  border-width: 1px,
  exo-ripple-active-bg-color: base,
  exo-ripple-focus-bg-color: primary,
  // Form
  form-color: base,
  form-border-color: offset (color-scale-inverse: 10%),
  form-border-focus-color: primary,
  form-border-hover-color: offset (color-scale-inverse: 10%),
  form-border-style: solid,
  form-border-width: 1px,
  form-bg-color: offset (color-scale-direct: 10%),
  form-padding-v: $global-padding,
  form-padding-h: $global-padding,
  form-box-shadow: 0 1px 10px shadow(5),
  form-border-radius: $global-radius,
  // Tooltip
  form-tooltip-trigger-color: base (color-b-or-w: ''),
  form-tooltip-trigger-bg-color: label-color,
  form-tooltip-trigger-border-color: label-color,
  form-tooltip-content-color: primary (color-b-or-w: ''),
  form-tooltip-content-bg-color: primary,
  // Wrapper
  wrapper-border-color: offset (color-scale-inverse: 10%),
  wrapper-border-style: solid,
  wrapper-border-width: 1px,
  wrapper-bg-color: form-bg-color,
  wrapper-bg-2-color: offset (color-scale-direct: 4%),
  wrapper-box-shadow: none,
  wrapper-box-2-shadow: 0,
  wrapper-title-color: base,
  wrapper-title-weight: 700,
  wrapper-description-color: description-color,
  // Table
  table-padding: $global-padding * 0.5,
  table-bg-color: offset,
  table-border-color: offset (darken: 8%),
  table-thead-padding: $global-padding * 0.5,
  table-thead-font-size: rem-calc(12),
  table-thead-bg-color: offset (darken: 6%),
  table-thead-color: offset (color-b-or-w: ''),
  table-tbody-font-size: rem-calc(15),
  table-tbody-bg-color: offset (lighten: 4%),
  table-tbody-color: offset (color-b-or-w: ''),
  table-tbody-odd-bg-color: offset (lighten: 3%),
  // Input
  input-height: rem-calc(40),
  input-bg-color: offset,
  input-placeholder-color: offset (color-scale-inverse: 25%),
  input-border-color: border-color,
  input-border-focus-color: primary,
  input-border-valid-color: success,
  input-border-invalid-color: error,
  input-prefix-suffix-color: base (color-scale-inverse: 30%),
  input-border-top-width: border-width,
  input-border-left-width: border-width,
  input-border-right-width: border-width,
  input-border-bottom-width: border-width,
  // Radio
  radio-border-width: border-width,
  radio-bg-color: input-bg-color,
  radio-border-color: offset (color-scale-inverse: 30%),
  radio-active-color: primary,
  radio-active-offset-color: primary (color-b-or-w: ''),
  // Checkbox
  checkbox-border-width: border-width,
  checkbox-bg-color: input-bg-color,
  checkbox-border-color: offset (color-scale-inverse: 30%),
  checkbox-active-color: primary,
  checkbox-check-color: primary (color-b-or-w: ''),
  // Select
  select-bg-color: offset (color-scale-direct: 4%),
  select-item-color: base,
  select-border-color: border-color,
  select-box-shadow: 0 3px 4px shadow(10),
  select-box-shadow-from-bottom: 0 -3px 4px shadow(10),
  select-optgroup-color: primary,
  select-selected-bg-color: primary,
  select-selected-color: primary (color-b-or-w: ''),
  select-hover-bg-color: offset (color-scale-inverse: 5%),
  select-close-color: primary,
  select-close-shadow: none,
  select-close-hover-bg: offset (color-scale-inverse: 5%),
  select-close-hover-color: select-close-hover-bg (color-b-or-w: ''),
  select-caret-color: primary,
  // select-ajax-progress-bg-color: primary,
  // Number
  number-bg-color: input-bg-color (color-scale-inverse: 5%),
  number-color: label-color,
  number-hover-bg-color: primary,
  number-hover-color: primary (color-b-or-w: ''),
  // Password Strength
  password-strength-padding: 0,
  password-strength-height: rem-calc(20),
  password-strength-bg-color: base (color-scale-inverse: 20%),
  password-strength-color: base (color-b-or-w: ''),
  password-strength-text-shadow: 0 1px 0px shadow(10),
  password-strength-border-width: 0,
  // Password Strength
  password-suggestions-padding: $global-padding * 0.5,
  password-suggestions-bg-color: base (color-scale-inverse: 40%),
  password-suggestions-color: base (color-b-or-w: ''),
  password-suggestions-text-shadow: 0 1px 0px shadow(10),
  password-suggestions-border-width: 0,
  password-suggestions-font-size: rem-calc(11),
  // Button
  button-border-color: border-color,
  button-bg-color: offset,
  button-color: offset (color-b-or-w: ''),
  button-secondary-color: offset (color-scale-inverse: 30%),
  button-hover-bg-color: primary,
  button-hover-color: button-hover-bg-color (color-b-or-w: ''),
  button-primary-bg-color: primary,
  button-primary-color: primary (color-b-or-w: ''),
  button-primary-hover-bg-color: button-primary-bg-color (color-scale-direct: 10%),
  button-primary-hover-color: button-primary-hover-bg-color (color-b-or-w: ''),
  button-error-bg-color: error,
  button-error-color: error (color-b-or-w: ''),
  button-error-hover-bg-color: button-error-bg-color (color-scale-direct: 10%),
  button-error-hover-color: button-error-hover-bg-color (color-b-or-w: ''),
  button-weight: 700,
  button-alt-weight: 400,
  button-secondary-weight: 500,
  // Vertical Tabs
  tab-border-width: border-width,
  tab-border-color: border-color,
  tab-border-style: border-style,
  tab-menu-bg-color: offset (color-scale-direct: 2%),
  tab-menu-active-bg-color: offset,
  tab-menu-hover-bg-color: offset,
  tab-menu-color: base (color-scale-inverse: 30%),
  tab-menu-active-color: base,
  tab-menu-hover-color: primary,
  tab-pane-bg-color: form-bg-color,
  // Inline Entity Form
  inline-entity-form-open-bg-color: offset (color-scale-inverse: 5%),
  inline-entity-form-subform-bg-color: form-bg-color,
  inline-entity-form-paragraph-label-icon-bg: primary,
  inline-entity-form-paragraph-label-icon-color: inline-entity-form-paragraph-label-icon-bg (color-b-or-w: ''),
  inline-entity-form-paragraph-label-icon-nested-bg: secondary,
  inline-entity-form-paragraph-label-icon-nested-color: inline-entity-form-paragraph-label-icon-nested-bg (color-b-or-w: ''),
  inline-entity-form-paragraph-border-color: inline-entity-form-paragraph-label-icon-bg,
  inline-entity-form-paragraph-border-nested-color: inline-entity-form-paragraph-label-icon-nested-bg,
  inline-entity-form-paragraph-label-bg: offset (color-scale-inverse: 15%),
  inline-entity-form-paragraph-label-border-color: inline-entity-form-paragraph-label-bg,
  inline-entity-form-paragraph-label-border-active-color: button-border-color,
  inline-entity-form-paragraph-label-active-bg: button-bg-color,
  inline-entity-form-paragraph-label-color: inline-entity-form-paragraph-label-bg (color-b-or-w: ''),
  inline-entity-form-paragraph-box-shadow-color: inline-entity-form-open-bg-color (darken: 10%),
  // Entity Meta
  entity-meta-bg-color: offset,
  entity-meta-border-top-color: offset (lighten: 5%),
  entity-meta-border-bottom-color: offset (darken: 10%),
  entity-meta-separator-top-color: entity-meta-bg-color (color-scale-direct: 5%),
  entity-meta-separator-bottom-color: entity-meta-bg-color (color-scale-inverse: 8%),
  entity-meta-detail-bg-color: offset,
  entity-meta-detail-triangle-color: primary,
  entity-meta-detail-hover-bg-color: entity-meta-bg-color (color-scale-direct: 2%),
  entity-meta-detail-open-bg-color: entity-meta-bg-color (color-scale-inverse: 5%),
  entity-meta-detail-open-box-shadow-color: entity-meta-bg-color (darken: 10%),
  // Entity Reference Tree
  entity-reference-tree-font-size: rem-calc(11),
  entity-reference-tree-color: primary,
  entity-reference-tree-bg-color: offset,
  entity-reference-tree-bg-padding: math.div($global-padding, 3) $global-padding * 0.5,
  entity-reference-tree-hover-bg-color: primary,
  entity-reference-tree-hover-color: offset,
  entity-reference-tree-border-color: input-border-color,
  entity-reference-tree-border-style: solid,
  entity-reference-tree-border-width: input-border-bottom-width,
  // Dropbuttons
  dropbutton-color: primary,
  dropbutton-bg-color: offset,
  dropbutton-hover-bg-color: primary,
  dropbutton-hover-color: offset,
  dropbutton-arrow-open-width: 5px,
  dropbutton-border-color: base (alpha: 0.25),
  dropbutton-border-style: solid,
  dropbutton-border-width: 1px,
  dropbutton-shadow: 0 3px 4px shadow(20),
  dropbutton-font-size: rem-calc(12),
  // Views
  views-border-color: offset (color-scale-inverse: 5%),
  views-border-alt-color: offset (color-scale-inverse: 1%),
  views-border-style: wrapper-border-style,
  views-border-width: wrapper-border-width,
  views-border-radius: form-border-radius,
) !default;
