.exo-form {

  .js-color-field-widget-spectrum {

    .js-color-field-widget-spectrum__color.required,
    .exo-form-input-line {
      display: none !important;
    }

    .sp-replacer {
      background: gray(0);
      border-radius: $global-radius;
      border-color: gray(20);
    }

    .sp-preview {
      min-width: rem-calc(200);
    }
  }

  .js-color-field-widget-spectrum {
    .exo-form-element-intersect {

      > .field-label {
        top: 0 !important;
      }

      .sp-replacer {
        margin-top: $global-margin * 0.5;
        padding-top: $global-padding;
      }
    }
  }
}
