.exo-form {

  .layout-order-form {

    &:not(.layout-commerce-form) {
      margin-bottom: 0;
      gap: 0;
      @include exo-grid;
      @include exo-gutters($negative: true);
    }
  }

  .layout-region--node-main,
  .layout-region--product-main,
  .layout-region-order-main {
    gap: 0;
    @include exo-cell(8);
  }

  .layout-region--node-secondary,
  .layout-region--product-secondary,
  .layout-region-order-secondary {
    margin-top: 0;
    gap: 0;
    @include exo-cell(4);
  }

  .layout-region--node-footer,
  .layout-region--product-footer {
    gap: 0;
    @include exo-cell(12);
  }

  .layout-region-node-footer__content,
  .layout-region-product-footer__content,
  .layout-region-order-footer {
    border: none;
    margin: $global-margin 0 0;
    padding: 0;
  }

  .layout-region-node-main {

    > .exo-form-element-type-horizontal-tabs {
      margin-top: 0;
    }

    > .exo-form-element {

      &:first-of-type {
        margin-top: 0;
      }
    }
  }
}

.theme-seven {

  .exo-form {

    .layout-node-form,
    .layout-product-form {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
