.exo-form-container-maxlength {

  .field-label {
    right: 0;

    .counter {
      margin-left: auto;
      font-size: rem-calc(11);
    }
  }

  .field-input {
    font-size: rem-calc(11);
    flex-wrap: wrap !important;

    > .counter {
      flex-basis: 100%;
      margin: rem-calc(5 0 0);
    }
  }
}
