.media-library-widget {

  .button.media-library-open-button {
    margin-bottom: 0;
  }

  .field-suffix {
    padding: 0 !important;
    height: auto !important;
    min-height: 0 !important;
  }

  p {
    margin: 0 0 $global-margin * 0.5 !important;
  }

  .media-library-item--grid {

    &:before {
      box-shadow: none;
    }
  }

  .media-library-selection {
    // margin-top: 0;
    margin-bottom: 0 !important;

    .exo-form-element-type-submit {
      display: block;
    }
  }

  .media-library-widget-empty-text {
    // @include description();
    margin-bottom: 0;
  }

  .media-library-widget__toggle-weight {
    display: none;
  }

  .media-library-item {

    .exo-form-element {
      margin: 0;
    }
  }

 .exo-form-element .exo-form-element-inner .exo-form-button.media-library-item__remove {
    color: transparent !important;
    width: 30px !important;
    height: 30px !important;
    background-color: alpha(theme-white, 0.7) !important;
    transition: all $global-speed !important;
    border-width: 1px !important;
    border-radius: 0 !important;
    margin: rem-calc(6) !important;

    &:hover {
      // background-color: inherit !important;
      background-color: alpha(theme-white, 1) !important;
      box-shadow: 0 0 8px alpha(theme-black, 0.3) !important;
    }
  }

  .media-library-item__preview {
    padding-bottom: 0;
  }

  .exo-form-container-media-library-item__weight {
    position: absolute;
    bottom: 9px;
    left: 10px;
    right: 10px;

    label {
      display: none;
    }

    .form-item {
      margin: 0;
    }
  }
}

.media-library-view {

  .media-library-views-form__header {
    margin-left: 0;
    margin-right: 0;

    .form-item {
      margin-right: 0;
    }
  }

  .exo-form {

    .form-actions {
      margin-left: $global-margin * 0.5 * -1;
      margin-right: $global-margin * 0.5 * -1;
    }

    .media-library-view--form-actions {
      margin-left: $global-margin * 0.5 * -1;
      margin-right: $global-margin * 0.5 * -1;
    }
  }

  .pager {
    margin-bottom: 0;
  }
}

.exo-form.media-library-views-form {
  margin-left: 0;
  margin-right: 0;

  .media-library-views-form__bulk_form {
    flex-wrap: nowrap;
  }

  > .exo-form-container-form-actions {
    width: 100%;
    // display: none;
  }
}

.media-library-wrapper {

  .media-library-views-form {
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
  }

  .js-media-library-add-form {

    > .exo-form-element {
      margin: 0;
    }
  }

  .media-library-menu {
    position: relative;
    z-index: 2;
    width: $tab-menu-width;
    max-width: $tab-menu-width;
    min-width: $tab-menu-width;
    background: transparent;
    border: 0;

    li {
      margin-bottom: rem-calc(1);

      a {
        display: block;
        padding: $global-padding $global-padding * 0.5;
        transition: color $global-speed ease, background-color $global-speed ease;
        line-height: 1.2;
        font-size: $tab-menu-font-size;
        font-weight: $tab-menu-font-weight;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &.is-selected {
        margin-right: rem-calc(-3);
      }

      &:after {
        content: '';
        display: block;
        height: 2px;
        width: 100%;
        background-size: 0 2px, 100% 1px;
        background-repeat: no-repeat;
        background-position: center bottom, center calc(100% - 1px);
        transition: all $global-speed ease-out;
      }
    }
  }

  &.has-media-library-menu {

    .media-library-content {
      padding: $global-padding;
    }

    .view-header {
      margin: $global-margin 0 0;
      width: 100%;
    }
  }
}

.js-media-library-widget {

  .js-media-library-widget-toggle-weight {
    display: none;
  }

  .exo-form-button {
    box-sizing: border-box;

    .exo-modal & {
      display: block;
      width: 100%;
    }
  }

  .exo-form-element {
    margin: 0;
  }

  .js-media-library-open-button {
    margin-top: $global-margin;
  }

  .js-media-library-item {
    @include flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    height: 100px;

    // &:first-child {
    //   margin-top: 0;
    // }

    // &:last-child {
    //   margin-bottom: 0;
    // }

    .exo-form-element-type-submit {
      order: 2;

      button {
        border-radius: 0 !important;
        padding: rem-calc(5 20) !important;
        height: auto !important;
        line-height: 1 !important;
      }
    }

    // .exo-modal & {
    //   max-width: rem-calc(200);
    // }
  }

  .exo-media-preview {
    cursor: move;
    overflow: hidden;
    // height: rem-calc(100);
  }

  .field-prefix {
    display: block;
    margin: 0 0 $global-margin !important;
    padding: 0 !important;
    height: auto !important;
    min-height: 0 !important;
  }

  .field-suffix {
    display: block;
    margin: 0 0 $global-margin !important;
    padding: 0 !important;
    height: auto !important;

    .js-media-library-open-button {
      margin-top: 0;
    }
  }

  .exo-form-container-js-media-library-item-weight {
    display: none;
  }

  .description {

    .exo-form-element-wrapper-description {
      margin-top: $global-margin * 0.5;
    }
  }
}

.media-library-widget-modal.exo-modal {
  margin-bottom: auto;
}
