.exo-form-element-type-password-confirm {

  .password-confirm,
  .password-field,
  .password-strength,
  .password-confirm-match {
    width: auto;
  }

  .password-parent,
  .confirm-parent {
    max-width: 100%;
  }

  .field-input.password-parent,
  .field-input.confirm-parent {
    @include flex-align(left, top);
    flex-direction: column;
  }

  .exo-form-input.pass-pass2 {
    @include flex-align(left, stretch);
    flex-direction: column;
  }

  .password-strength {
    position: relative;

    .password-strength__meter {
      margin: 0;
    }

    .password-strength__title {
      position: absolute;
      top: 0;
      left: 0;
      font-size: rem-calc(11);
      text-transform: uppercase;

      .password-strength__text {
        font-weight: 700;
      }
    }
  }

  .password-confirm-message {
    display: none;
    visibility: hidden;
  }

  .password-suggestions {
    margin: 0;
    max-width: 100%;
  }

  .pass-pass1 {

    .password-strength {
      display: none;
    }

    &.value {

      .password-strength {
        display: block;
      }
    }
  }

  .pass-pass2 {

    .password-suggestions {
      display: none !important;
    }

    &.value {

      .password-confirm-message {
        display: block;
      }

      .password-suggestions {
        display: block !important;
      }
    }
  }
}
