.exo-form-element-type-password-confirm {

  .password-confirm,
  .password-field,
  .password-strength,
  .password-confirm-match {
    width: auto;
  }

  .password-confirm,
  .password-parent,
  .confirm-parent {
    max-width: 100%;
  }

  .field-input.password-parent,
  .field-input.confirm-parent {
    flex-direction: column;
    @include flex-align(left, top);
  }

  .exo-form-input.pass-pass2 {
    max-height: none;
    @include flex-align(left, stretch);
  }

  .password-strength {
    position: relative;
    padding: rem-calc(5);
    border-radius: $global-radius;
    box-sizing: border-box;
    margin: rem-calc(5 0 0);

    .password-strength__track {
      padding: rem-calc(5);
      margin: 0;
    }

    .password-strength__meter {
      margin: 0;
    }

    .password-strength__title {
      position: static;
      margin: rem-calc(5 0 0);
      font-size: rem-calc(11);
      line-height: 1;
      text-transform: uppercase;

      .password-strength__text {
        font-weight: 700;
      }
    }
  }

  .password-match-message {
    margin: rem-calc(5 0);
  }

  .password-confirm-message {
    display: none;
    visibility: hidden;
  }

  .password-suggestions {
    margin: rem-calc(0 0 5);
    max-width: 100%;
    flex-basis: 100%;
  }

  .pass-pass1 {

    .password-strength {
      display: none;
    }

    &.value {

      .password-strength {
        display: block;
      }
    }
  }

  .pass-pass2 {

    .password-suggestions {
      display: none !important;
    }

    &.value {

      .password-confirm-message {
        display: block;
      }

      .password-suggestions {
        display: block !important;
      }
    }
  }
}
