.exo-form .field--type-field-signature {
  min-height: 0;

  .exo-form-input {

    .field-input {
      display: block !important;
      position: static;
    }

    .field-prefix {
      border: 0 !important;
      height: auto !important;
    }
  }

  .field-label {
    left: 0 !important;

    .exo-form-style-intersect & {
      top: -5px !important;
    }
  }

  .description {
    padding: 0 !important;
  }

  > .align-right {
    display: none;
  }

  .signature-inner {
    position: relative;
    flex-direction: column;
    border: 0 !important;
    line-height: 1;
    padding: $global-padding $global-padding $global-padding * 0.5;
    background: none;
    @include flex;
    @include flex-align(left, middle);

    canvas {
      display: inline-block;
      margin: 0;
      padding: 0;
    }

    .clear-signature-button {
      display: block;
    }

    &:before {
      width: 90% !important;
    }

    .button {
      display: block;
    }
  }

  .signature {
    border-radius: $global-radius;
    background: transparent;
    min-height: 0;

    .field-input {

      .field-prefix {
        position: static;
        background-color: transparent;
        padding: 0 $global-margin * 0.5 !important;
        @include flex;
        @include flex-align(center, middle);
      }
    }
  }

  .clear-signature-button {
    margin-top: $global-margin * 0.5;
  }

  .exo-form-container-signature-data {
    display: block !important;

    .signature-data.hidden {
      display: none !important;
    }
  }

  .exo-form-element-float-inside {
    @include label-float-inside-wrapper-active;
  }
}
