.field--type-smartdate {

  .smartdate--widget {

    .allday-label {
      float: none;

      .allday {
        margin: $global-margin $global-margin * 0.5 0;
      }
    }

    .clearfix {
      display: none;
    }

    .byday-checkboxes {
      display: block;

      legend {
        float: none;
        margin: 0;
      }

      .fieldset-wrapper {
        margin: 0 !important;
      }
    }
  }

  .draggable td:nth-child(2) {
    padding: $global-padding * 2;
  }

  .repeat--label {
    margin-bottom: 0 !important;
  }

  .exo-form-container-recur-repeat {
    margin-top: 0;
  }
}

.exo-form .smartdate--time-inline {
  margin-bottom: 0;
  @include flex;
  @include flex-align(left, middle);

  + .exo-form-container-field-duration {
    margin-top: 0;
  }

  > div {
    padding-left: $global-padding * 0.5;
    padding-right: $global-padding * 0.5;
  }

  .exo-form-date,
  .exo-form-time {
    margin-top: 0 !important;
  }
}

.exo-form-style-float-inside .smartdate--widget {

  .duration-wrapper {
    margin-top: $global-margin * 0.5 !important;

    > .field-input {
      flex-direction: column;
      @include flex;

      > .allday-label {
        order: 2;
      }

      > .exo-form-select-wrapper {
        margin-top: 0;
      }
    }

    .allday-label {
      margin-top: 0;

      .allday {
        margin-left: 0;
        margin-top: $global-margin * 0.5;
      }
    }
  }
}
