.field--type-smartdate {

  .smartdate--widget {

    .allday-label {
      float: none;

      .allday {
        margin: $global-margin $global-margin * 0.5 0;
      }
    }

    .clearfix {
      display: none;
    }

    .byday-checkboxes {
      display: block;

      legend {
        float: none;
        margin: 0;
      }

      .fieldset-wrapper {
        margin: 0 !important;
      }
    }
  }

  .draggable td:nth-child(2) {
    padding: $global-padding * 2;
  }

  .repeat--label {
    margin-bottom: 0 !important;
  }

  .exo-form-container-recur-repeat {
    margin-top: 0;
  }
}

.exo-form .smartdate--time-inline {
  @include flex;
  @include flex-align(left, middle);

  > div {
    padding-left: $global-padding * 0.5;
    padding-right: $global-padding * 0.5;
  }

  .exo-form-date,
  .exo-form-time {
    margin-top: 0 !important;
  }
}

.exo-form-style-float-inside .smartdate--widget .duration-wrapper {

  .allday-label {
    margin-top: 0;

    .allday {
      margin-top: $global-margin * 1.5;
    }
  }
}
