.exo-form .field--widget-term-reference-tree {

  .term-reference-tree-level {

    li {
      clear: both;
    }

    .term-reference-tree-button,
    .no-term-reference-tree-button {
      float: left;
      margin-top: rem-calc(3);
    }
  }

  .checkbox {
    @include flex;
    @include flex-align(left, middle);

    > .form-checkbox {
      margin-right: rem-calc(5);
    }
  }

  // > .form-item {
  //   display: block;
  // }

  // .term-reference-tree {
  //   font-size: rem-calc(15);

  //   > .term-reference-tree-level {

  //     @include breakpoint(medium) {
  //       @include exo-grid;
  //       @include exo-gutters($negative: true);

  //       > li {
  //         @include exo-cell(4);
  //         white-space: nowrap;
  //       }
  //     }

  //     @include breakpoint(large) {
  //       @include exo-grid;
  //       @include exo-gutters($negative: true);

  //       > li {
  //         @include exo-cell(20%);
  //       }
  //     }

  //     .term-reference-tree-level {
  //       margin: 0;

  //       li {
  //         @include flex;
  //         @include flex-align(left, middle);
  //       }
  //     }

  //     .exo-form-element {
  //       margin: 0;
  //     }
  //   }
  // }
}
