.views-ui-dialog .exo-form {

  .exo-body:not(.theme-gin) & {
    margin: $global-margin;

    > * {
      margin: 0;
    }

    table {
      margin: 0;
    }

    &.exo-form-wrap {

      > .views-override {
        margin-left: $global-margin * -1;
        margin-right: $global-margin * -1;
      }

      > .scroll {
        margin: $global-margin 0 0;

        > * {
          &:first-child {
            margin-top: 0;
          }
        }
      }
    }

    > .scroll {
      padding: 0;
      overflow: visible;
      @include exo-grid;

      &:first-child {
        margin-top: 0;
      }

      > * {
        margin-top: 0;
        @include exo-cell(12, $gutters: 0);
      }

      > table {
        margin-top: $global-margin;
        margin-bottom: $global-margin;
        @include exo-cell(12, $gutters: 0);
      }

      > .clearfix {
        margin: 0;
        @include exo-grid;

        > * {
          display: block;
          @include exo-cell(12, $gutters: 0);
        }
      }

      > .views-expose {
        margin-bottom: $global-margin;
      }

      > .views-expose,
      > .views-grouped,
      > .views-left-25,
      > .views-left-30,
      > .views-left-40,
      > .views-right-60,
      > .views-right-70,
      > .views-right-75 {
        margin-top: $global-margin;
      }

      > .views-left-25,
      > .clearfix > .views-left-25 {
        padding-right: $global-padding;
        @include exo-cell(3, $gutters: 0);
      }

      > .views-left-30,
      > .clearfix > .views-left-30 {
        padding-right: $global-padding;
        @include exo-cell(3, $gutters: 0);
      }

      > .views-left-40,
      > .clearfix > .views-left-40 {
        padding-right: $global-padding;
        @include exo-cell(4, $gutters: 0);
      }

      > .views-right-60,
      > .clearfix > .views-right-60 {
        @include exo-cell(8, $gutters: 0);
      }

      > .views-right-70,
      > .clearfix > .views-right-70 {
        @include exo-cell(9, $gutters: 0);
      }

      > .views-right-75,
      > .clearfix > .views-right-75 {
        @include exo-cell(9, $gutters: 0);
      }

      .views-group-box .form-item {
        margin: 0;
      }

      > .description {
        margin-bottom: $global-margin;
      }
    }

    .views-offset-top {
      border: 0;

      &:not(:empty) {
        overflow: visible;
      }

      .form-item {
        max-width: 100%;
      }

      > .exo-form-element {
        flex: 1 1 auto;
        margin-right: $global-margin;
      }
    }

    .views-offset-bottom {
      border: 0;

      .views-ui-view-title {
        display: block;
        font-weight: 700;
        padding-bottom: rem-calc(5);
      }

      .views-selected-options {
        font-style: italic;
      }
    }

    .views-override:not(:empty) {
      padding: 0 $global-padding * 0.5;
      background: none;
    }

    .views-filterable-options {
      border-top: 0;
    }

    .views-filterable-options-controls {
      display: flex;
      width: 100%;

      .form-item {
        width: auto;
        margin: 0;
      }
    }
  }

  .exo-body.theme-gin & {

    .form-item {
      margin: 0;
    }

    .views-offset-top {
      flex-wrap: nowrap;
      padding: 0 $global-padding * 0.5;
      margin: 0;

      > .exo-form-element {
        width: 100%;
        margin: $global-margin $global-margin * 0.5;
      }

      .form-item {
        max-width: 100%;
      }
    }

    > .scroll {
      padding: $global-padding;

      > .description {
        margin-bottom: $global-margin;
      }
    }

    .views-config-group-region {
      width: 100%;
      padding: 0 $global-padding * 0.5;

      > .views-group-box {
        vertical-align: top;
        padding: $global-padding $global-padding * 0.5;

        &:first-child {
          padding-left: $global-padding;
        }

        &:last-child {
          padding-right: $global-padding;
        }
      }
    }
  }
}

.js .views-admin .exo-form  {

  .exo-form-element-type-actions {
    margin-left: $global-margin * 0.5;
    margin-right: $global-margin * 0.5;
  }

  .dropbutton-wrapper {
    height: rem-calc(22);
    line-height: rem-calc(22);

    .dropbutton-widget {

      .dropbutton-action {

        &:first-child a {
          height: rem-calc(22);
          line-height: rem-calc(22);
        }

        .button {
          height: rem-calc(22);
          line-height: rem-calc(22);
        }
      }
    }
  }
}

.exo-form {

  .views-displays {

    .views-display-top {
      padding: $global-padding;

      .dropbutton-wrapper {
        top: 0;
        right: 0;
      }
    }

    .views-display-columns {

      .views-ui-display-tab-bucket.views-ui-display-tab-bucket {
        padding: $global-padding;

        > * {
          padding: 0;
        }

        .label {
          margin-left: 0;
        }
      }

      .views-ui-display-tab-bucket__header {
        padding-bottom: $global-padding * 0.5;
      }

      .views-ui-display-tab-bucket__title,
      .views-ui-display-tab-bucket__actions,
      summary {
        font-size: rem-calc(12);
        padding: 0;
      }
    }

    .views-ui-display-tab-bucket {

      .dropbutton-wrapper {
        top: 0;
        right: 0;
      }
    }

    .tabs.secondary {
      display: flex;
      flex-wrap: wrap;

      li {
        margin: $global-margin * 0.1;

        .icon.add {
          display: none;
        }

        &.add {

          a {
            @include exo-icon(regular, f067) {
              padding-right: rem-calc(2);
            }
          }
        }

        a {
          display: block;
          height: rem-calc(22);
          line-height: rem-calc(22);
          border: 0;
          margin: 0;
          padding: 0 $global-padding;

          &.is-active {
            padding: 0 $global-padding;
          }
        }
      }
    }

    .tabs .action-list {

      li {
        margin: 0;
        padding: 0;
        border: 0;
      }

      .button {
        display: block;
        background: transparent;
        color: inherit;
        border-radius: 0;
        width: calc(100% - #{$global-padding * 2});
        height: rem-calc(22);
        line-height: rem-calc(22);
        padding: 0 $global-padding;
        text-align: left;
      }
    }
  }

  .edit-display-settings {
    padding: $global-padding;
    margin: 0;
  }
}
