@import 'exo-common';

.exo-list {

  > .messages {
    margin-top: 0;
    margin-bottom: 0;
  }

  thead {

    th {
      text-align: left;
      white-space: nowrap;
    }
  }

  .exo-list-header {
    margin: 0 0 $global-margin;
    font-size: rem-calc(12);

    .button {

      .exo-icon-label {
        padding-left: rem-calc(5);
      }
    }

    .exo-form-inline > .exo-form-element {
      margin-top: 0;
      margin-bottom: 0;
    }

    .exo-list-sort {
      padding-left: $global-padding;
      margin-left: auto;
      margin-right: 0 !important;

      + .exo-list-pager {
        margin-left: 0;
      }
    }

    .exo-list-pager {
      @include flex-align(left, middle);
      padding-left: $global-padding;
      margin-left: auto;
    }
  }

  .exo-list-header-first,
  .exo-list-header-second {

    @include breakpoint(medium) {
      @include flex;
      width: 100%;
    }

    .exo-form-element {
      margin-top: 0;
      margin-bottom: 0;
      margin-right: $global-margin;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .exo-list-header-first {

    @include breakpoint(small only) {

      > div,
      > .exo-form-element {
        margin: 0 0 $global-margin / 2;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .button {
        width: 100%;
      }
    }

    @include breakpoint(medium) {
      @include flex-align(right, stretch);
    }

    .exo-list-filters-inline {
      @include flex;
      @include flex-align(left, stretch);
      flex-wrap: wrap;

      .exo-form-container-form-actions {
        margin-left: 0;
      }

      > div {
        flex: 1 1 100%;
      }

      button {
        width: 100%;
      }

      @include breakpoint(small only) {

        > .exo-form-element {
          margin: 0 0 $global-margin / 2;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      @include breakpoint(medium) {
        flex-wrap: nowrap;
        margin-right: auto;
        margin-bottom: 0;
        padding-right: $global-padding;
      }
    }

    .exo-form-container-form-actions {

      div,
      button,
      a {
        height: 100%;
      }
    }
  }

  .exo-list-header-second {
    margin-top: $global-margin;
    margin-left: auto;

    .button {
      margin-left: $global-margin / 2;

      .is-admin & {
        height: rem-calc(24) !important;
        padding: rem-calc(0 10) !important;
        font-weight: 400 !important;
      }
    }
  }

  .exo-list-pages {
    margin-right: $global-margin;
  }

  .exo-list-total {
    padding-left: $global-padding;
    margin-left: auto;
  }

  .exo-list-footer {
    @include clearfix;
    margin-top: $global-margin;
    font-size: rem-calc(12);

    .exo-list-footer-first {
      @include flex;

      @include breakpoint(large) {
        float: left;
        margin-right: $global-margin;
      }

      > * {
        display: block;
        margin-right: $global-margin / 2;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .exo-list-footer-last {

      @include breakpoint(large) {
        float: right;
        margin-left: $global-margin;
      }
    }

    .exo-list-pager {
      @include flex-align(right, middle);
    }
  }

  .exo-list-sort {

    .dropbutton-wrapper {
      height: rem-calc(20) !important;
    }

    .dropbutton-action {

      a {
        color: inherit !important;
        font-size: rem-calc(11) !important;
        font-weight: 400 !important;
      }

      &:first-child {

        a {
          font-weight: 400 !important;
          height: rem-calc(20) !important;
          line-height: rem-calc(20) !important;
        }
      }
    }
  }

  .exo-list-pager {
    @include flex;

    .pagerer-container {
      width: auto;
      font-size: rem-calc(12);
      margin: 0 0 0 $global-margin;

      .pagerer-panes,
      .pagerer-page-widget,
      .pager__items {
        @include flex;
        @include flex-align(left, middle);
      }

      .pager__item {

        a {
          font-size: rem-calc(12);
          line-height: 1;
        }
      }

      .pagerer-pager-mini {

        .pagerer-widget {
          margin-left: rem-calc(12);
        }

        a {
          font-size: rem-calc(30);
        }
      }
    }

    .exo-list-pager-limit {
      @include flex;
      @include flex-align(left, middle);

      .form-item {
        @include flex;
        @include flex-align(left, middle);
        // margin-right: $global-margin;

        .field-label {
          margin-right: $global-margin / 2;

          label {
            font-size: rem-calc(12);
          }
        }
      }
    }
  }

  .exo-list-batch {
    @include flex;
    @include flex-align(left, middle);
  }

  .exo-list-filter-overview {
    @include flex;
    @include flex-align(left, middle);
    margin: $global-margin 0 0 0;

    &,
    h3 {
      padding: 0;
      line-height: 1.1;
    }

    h3 {
      margin: 0 $global-margin rem-calc(5) 0;
      font-weight: 700;
      font-size: rem-calc(13);
    }

    ul {
      @include flex;
      @include flex-align(left, middle);
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0 $global-margin 0 0;
        font-weight: 700;
        list-style-type: none;
        font-size: rem-calc(12);

        a {
          color: inherit;

          .value {
            font-style: italic;
            font-weight: 400;
          }

          .remove {
            display: inline-block;
            background: gray(20);
            width: rem-calc(20);
            height: rem-calc(20);
            line-height: rem-calc(20);
            text-align: center;
            border-radius: 50%;
            transition: color $global-speed, background-color $global-speed;
          }

          &:hover {

            .remove {
              background: color(theme-alert);
              color: gray(0);
            }
          }
        }
      }
    }
  }

  table {

    tr {

      th,
      td {

        &.exo-form-table-compact {
          width: 1%;
        }
      }
    }
  }

  .table-select {
    width: 1%;
  }

  .exo-list-builder-field-type--entity-label {
    white-space: nowrap;
  }

  .exo-list-builder-field-type--entity-label {
    white-space: nowrap;
  }

  .exo-list-builder-field-type--file-image {
    width: rem-calc(50);
    text-align: center;
  }
}

.exo-list-top {
  @include flex;
  @include flex-align(right, bottom);
  position: relative;
  margin-bottom: $global-margin;
  background: gray(3);
  border: 1px solid gray(7);
  border-bottom: 1px solid gray(10);
  padding: $global-padding $global-padding 0;

  .exo-list-top--shadow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      box-shadow: 0 0 20px gray(40);
      pointer-events: none;
      height: 50px;
      // width: 100%;
      border-radius: 100px / 20px;
      opacity: 0.3;
      bottom: 100%;
      left: 50px;
      right: 50px;
    }
  }
}

.exo-list-states--links {
  @include flex;
  @include flex-align(right, bottom);

  a {
    position: relative;
    display: block;
    // font-size: rem-calc(16);
    padding: $global-padding;
    border: 1px solid gray(10);
    margin-left: rem-calc(5);
    margin-bottom: -1px;
    background: gray(40);
    color: gray(0);
    border-radius: $global-radius $global-radius 0 0;
    transition: background-color $global-speed;
    overflow: hidden;
    z-index: 5;
    white-space: nowrap;

    &:hover {
      background: gray(60);
      color: gray(0);
    }

    &.exo-list-states--active {
      border-bottom-color: gray(0);
      background: gray(0);
      color: gray(70);

      &:hover {
        color: gray(70);
      }
    }
  }
}
