@import 'exo-common';

.exo-list {

  > .messages {
    margin-top: 0;
    margin-bottom: 0;
  }

  &.has-sidebar {
    @include exo-grid;
    @include exo-gutters($negative: true);

    > .exo-list-header {
      @include exo-cell(12);
    }

    > .exo-list-sidebar {
      @include exo-cell(12);
      margin-bottom: $global-margin;

      @include breakpoint(large) {
        @include exo-cell(4);
        margin-bottom: 0;
      }
    }

    > .exo-list-content {
      @include exo-cell(12);

      @include breakpoint(large) {
        @include exo-cell(8);
      }
    }
  }

  .badge {
    display: inline-block;
    text-align: center;
    border-radius: rem-calc(3);
    font-size: rem-calc(11);
    padding: rem-calc(2 5);
    background: gray(40);
    color: gray(0);
    font-weight: 700;

    &.badge--success {
      background: color(theme-success);
    }

    &.badge--warning {
      background: color(theme-warning);
    }

    &.badge--alert {
      background: color(theme-alert);
    }
  }

  .exo-modal {
    .exo-modal-close-button {
      float: right;
    }

    .exo-modal-container {
      margin: 0;
    }
  }

  thead {

    th {
      text-align: left;
      white-space: nowrap;
    }
  }

  td {
    vertical-align: middle;
    height: auto;

    &.exo-list-builder-size--stretch {
      width: 100%;
    }

    &.exo-list-builder-size--compact {
      width: 1%;
      white-space: nowrap;
    }

    &.exo-list-builder-size--nowrap {
      white-space: nowrap;
    }

    &.exo-list-builder-align--left {
      text-align: left;
    }

    &.exo-list-builder-align--center {
      text-align: center;
    }

    &.exo-list-builder-align--right {
      text-align: right;
    }
  }

  .exo-list-header {
    margin: 0 0 $global-margin;
    font-size: rem-calc(12);

    .button {

      .exo-icon-label {
        padding-left: rem-calc(5);
      }
    }

    .exo-form-inline > .exo-form-element {
      margin-top: 0;
      margin-bottom: 0;
    }

    .exo-list-sort {
      @include flex;
      @include flex-align(left, middle);
      padding-left: $global-padding;
      margin-left: auto;
      margin-right: 0 !important;

      + .exo-list-pager {
        margin-left: 0;
      }

      @include breakpoint(small only) {
        padding-top: $global-margin * 0.5;
        padding-left: 0;
      }
    }

    .exo-list-pager {
      @include flex-align(left, middle);
      padding-left: $global-padding;
      margin-left: auto;

      @include breakpoint(small only) {
        @include flex-align(center, middle);
        padding-left: 0;
        margin-top: $global-margin * 0.5;
      }
    }
  }

  .exo-list-header-first,
  .exo-list-header-second {

    @include breakpoint(medium) {
      @include flex;
      width: 100%;
    }

    .exo-form-element {
      margin-top: 0;
      margin-bottom: 0;
      margin-right: $global-margin;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .exo-list-header-first {

    @include breakpoint(small only) {

      > div,
      > .exo-form-element {
        margin: 0 0 $global-margin * 0.5;

        &:last-child {
          margin-bottom: 0;

          @include breakpoint(small only) {
            margin-bottom: $global-margin * 0.5;
          }
        }
      }

      .button {
        width: 100%;
      }
    }

    @include breakpoint(medium) {
      @include flex-align(right, bottom);
    }

    .exo-form-element {
      margin-left: $global-margin * 0.5;
      margin-right: 0;

      &:first-child {
        margin-left: 0;
      }

      @include breakpoint(small only) {
        margin-left: 0;
      }
    }

    .exo-list-filters-inline {
      @include flex;
      @include flex-align(left, bottom);
      flex-wrap: wrap;
      margin-left: 0;
      margin-right: 0;

      @include breakpoint(small only) {
        margin-bottom: 0;
      }

      > div {
        flex: 1 1 100%;
      }

      .exo-form-element-type-fieldset {

        .exo-form-element-inner {
          border: 0;
          padding-top: 0;
          padding-bottom: 0;
        }

        .fieldset-wrapper {
          margin-bottom: 0 !important;
        }

        fieldset {
          position: relative;
        }

        legend {
          position: absolute;
          top: 0;
          left: 0;
        }

        .fieldset-wrapper {
          padding: 0;

          > .exo-form-element {
            margin-bottom: 0;
          }
        }
      }

      .exo-form-container-form-actions {
        flex: 0 0 auto;

        @include breakpoint(small only) {
          flex: 1 1 auto;
        }

        .exo-form-element-inner {
          @include flex;
          @include flex-align(left, bottom);
        }
      }

      button {
        width: 100%;
      }

      @include breakpoint(small only) {

        > .exo-form-element {
          margin: 0 0 $global-margin * 0.5;
        }
      }

      @include breakpoint(medium) {
        flex-wrap: nowrap;
        margin-right: auto;
        margin-bottom: 0;
        flex: 1 1 auto;
        // padding-right: $global-padding;
      }
    }

    .exo-form-container-form-actions {

      div,
      button,
      a {

        @include breakpoint(medium) {
          height: 100%;
        }
      }
    }
  }

  .exo-list-header-second {
    margin-top: $global-margin;
    margin-left: auto;
    flex-wrap: wrap;

    @include breakpoint(small only) {
      margin-top: $global-margin * 0.5;
    }

    select {
      appearance: none;
      // Additional resets for further consistency
      background-color: gray(8);
      border: 1px solid gray(25);
      padding: rem-calc(4 8) !important;
      font-size: rem-calc(12) !important;
      line-height: rem-calc(12) !important;
      border-radius: 3px;
      margin: 0;
      width: 100%;
      font-family: inherit;
      cursor: inherit;
      line-height: inherit;
      text-align: center;
      background-image: none;
      min-height: 0;
    }

    [type='number'] {
      background-color: gray(8);
      border: 1px solid gray(25);
      // padding: rem-calc(3 8) !important;
      padding-top: rem-calc(3) !important;
      padding-bottom: rem-calc(3) !important;
      font-size: rem-calc(12) !important;
      line-height: rem-calc(12) !important;
      width: rem-calc(50) !important;
      // width: rem-calc(10) !important;
      margin: 0;
      border-radius: 3px;
    }

    .button {
      height: rem-calc(24) !important;
      line-height: rem-calc(24) !important;
      font-size: rem-calc(10) !important;
      padding: rem-calc(1 10) !important;
      font-weight: 400 !important;
      margin-left: $global-margin * 0.5;

      .is-admin & {
        height: rem-calc(24) !important;
        padding: rem-calc(0 10) !important;
      }
    }
  }

  .exo-list-action-status {
    margin-bottom: $global-margin;
    background: gray(3);
    border: 1px solid gray(7);
    border-bottom: 1px solid gray(10);
    padding: $global-padding;

    h3 {
      font-weight: 400 !important;
      font-size: rem-calc(11) !important;
      line-height: 1 !important;
      margin: 0 !important;
      padding: 0 0 $global-padding * 0.5 !important;
      text-transform: uppercase !important;
      color: gray(40) !important;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        font-size: rem-calc(12);
      }
    }
  }

  .exo-list-pages {
    margin-right: $global-margin;
  }

  .exo-list-total {

    @include breakpoint(medium) {
      margin-left: auto;
    }

    + .pager {
      margin-left: $global-margin;
    }
  }

  .exo-list-footer {
    @include clearfix;
    margin-top: $global-margin;
    margin-bottom: 0;
    font-size: rem-calc(12);

    @include breakpoint(large) {
      @include flex;
      @include flex-align(left, middle);
    }

    > div {
      flex: 1 1 auto;
    }

    > .exo-list-footer-first {
      @include flex;
      @include flex-align(center, top);
      margin-bottom: $global-margin;

      @include breakpoint(medium) {
        @include flex-align(left, top);
        margin-bottom: 0;
      }

      @include breakpoint(medium) {
        flex: 0 0 auto;
        margin-right: $global-margin;
      }

      > * {
        display: block;
        margin-right: $global-margin * 0.5;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    > .exo-list-footer-last {
      @include flex;
      @include flex-align(center, top);

      @include breakpoint(medium) {
        @include flex-align(left, top);
      }

      @include breakpoint(large) {
        flex: 0 0 auto;
        margin-left: $global-margin;
      }

      > * {
        display: block;
        margin-left: $global-margin * 0.5;

        &:last-child {
          margin-left: 0;
        }
      }
    }

    .exo-list-pager {
      @include flex-align(center, middle);
      flex-wrap: wrap;

      @include breakpoint(medium) {
        @include flex-align(right, middle);
      }
    }
  }

  .exo-list-sort {

    .dropbutton-wrapper {
      height: rem-calc(20) !important;
    }

    .dropbutton-action {

      a {
        font-size: rem-calc(11) !important;
        font-weight: 400 !important;

        &:not(:hover) {
          color: inherit !important;
        }
      }

      &:first-child {

        a {
          font-weight: 400 !important;
          height: rem-calc(20) !important;
          line-height: rem-calc(20) !important;
        }
      }
    }
  }

  .exo-list-pager {
    @include flex;
    flex-wrap: wrap;

    // Drupal default.
    .pagination {
      @include flex;
      @include flex-align(center, middle);
      margin: 0 0 0 $global-margin;

      .item {
        margin-left: $global-margin;

        &:first-child {
          margin-left: 0;
        }
      }

      .current {
        font-weight: 700;
      }
    }

    .pager {
      margin-top: 0;
      margin-bottom: 0;
    }

    .pager__items {
      @include flex;
      @include flex-align(left, middle);
    }

    .pager__item {
      margin: 0;
    }

    .pagerer-container {
      width: auto;
      font-size: rem-calc(12);
      margin: 0 0 0 $global-margin;

      @include breakpoint(small only) {
        @include flex;
        @include flex-align(center, middle);
        width: 100%;
        margin: $global-margin * 0.5 0 0;
      }

      .pager__item {
        white-space: nowrap;
      }

      .pagerer-panes,
      .pagerer-page-widget,
      .pager__items {
        @include flex;
        @include flex-align(left, middle);
      }

      .pagerer-panes {
        flex: 1 1 auto;
      }

      .pagerer-center-pane {
        flex: 1 1 auto;
      }

      .pager__items {
        @include flex-align(center, middle);
      }

      .pager__item {

        a {
          font-size: rem-calc(12);
          line-height: 1;
        }
      }

      .pagerer-pager-mini {

        li {
          padding: 0;
        }

        .pagerer-widget {
          margin-left: rem-calc(10);
        }

        a {
          font-size: rem-calc(30);
        }
      }

      .pagerer-pager-standard {

        .pager__items {
          @include flex-align(left, middle);

          @include breakpoint(small only) {
            @include flex-align(spaced, middle);
          }
        }

        .pager__item {
          font-size: rem-calc(12);

          a {
            padding: rem-calc(0 10);
            font-size: rem-calc(12);

            @include breakpoint(small only) {
              padding: 0;
            }
          }

          &.pager__item--ellipsis {
            padding: rem-calc(0 10);

            @include breakpoint(small only) {
              padding: 0;
            }
          }

          &.pager__item--previous,
          &.pager__item--next {

            a {
              font-size: rem-calc(30);
              line-height: rem-calc(12);
            }
          }
        }
      }
    }

    .exo-list-pager-limit {
      @include flex;
      @include flex-align(left, middle);

      .form-item {
        @include flex;
        @include flex-align(left, middle);
        // margin-right: $global-margin;

        .field-label {
          margin-right: $global-margin * 0.5;

          label {
            font-size: rem-calc(12);
          }
        }
      }

      + .exo-list-total {
        margin-left: $global-margin;
      }
    }
  }

  .exo-list-batch {
    @include flex;
    @include flex-align(left, middle);

    @include breakpoint(small only) {

      * {
        width: 100%;
      }
    }

    .exo-form-element-type-actions {
      margin-left: $global-margin * 0.5;
    }
  }

  .exo-list-header .exo-list-filter-overview {
    @include flex;
    @include flex-align(left, middle);
    flex-wrap: wrap;
    margin: $global-margin 0 0 0;

    &,
    h3 {
      padding: 0;
      line-height: 1.1;
    }

    h3 {
      margin: rem-calc(0 $global-margin 5 0);
      font-weight: 700;
      font-size: rem-calc(13);
    }

    ul {
      @include flex;
      @include flex-align(left, middle);
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: rem-calc(0 $global-margin 5 0);
        font-weight: 700;
        list-style-type: none;
        font-size: rem-calc(12);

        a {
          color: inherit;

          .value {
            font-style: italic;
            font-weight: 400;
          }

          .remove {
            display: inline-block;
            background: gray(20);
            width: rem-calc(20);
            height: rem-calc(20);
            line-height: rem-calc(20);
            text-align: center;
            border-radius: 50%;
            transition: color $global-speed, background-color $global-speed;
          }

          &:hover {

            .remove {
              background: color(theme-alert);
              color: gray(0);
            }
          }
        }
      }
    }
  }

  &.exo-list-dragged .exo-list-draggable-submit {
    display: block !important;
  }

  .tabledrag-toggle-weight {
    display: none;
  }

  td.table-select {
    white-space: nowrap;
    width: 1px;

    > * {
      display: block;
    }
  }

  tr.draggable {

    .tabledrag-cell-content__item {
      padding-right: 0;
    }

    td.table-select {
      width: 1%;
      order: 2;
    }

    .tabledrag-handle {
      margin: 0 $global-margin * 0.5 0 0 !important;
      overflow: visible;
      width: 16px;
      padding: 0;
      margin: 0;

      .handle {
        display: block;
        mask-position: 0 0;
        background-position: 0 0;
        height: 16px;
        width: 16px;
        padding: 0;
        margin: 0;
      }
    }
  }

  .exo-list-builder-field-type--entity-label {
    white-space: nowrap;
  }

  .exo-list-builder-field-type--entity-label {
    white-space: nowrap;
  }

  .exo-list-builder-field-type--file-image {
    width: rem-calc(50);
    text-align: center;
  }

  .exo-form-table-overflow {

    .exo-list-builder-field-id--operations {
      position: sticky;
      right: 0;
      background: alpha(gray(10), 0.85);
      border-color: gray(15);

      &:hover {
        z-index: 10;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px;
        height: 1px;
        background: gray(20);
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: -1px;
        left: -20px;
        bottom: -1px;
        width: 20px;
        background: linear-gradient(to left, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
        pointer-events: none;
      }
    }

    tbody {

      tr {

        &:last-child {

          .exo-list-builder-field-id--operations {

            &:after {
              display: none;
            }
          }
        }
      }
    }
  }

  .exo-form-checkbox {

    span,
    label.option {
      display: block;
    }
  }
}

.exo-list-top {
  @include flex;
  @include flex-align(left, stretch);
  position: relative;
  margin-bottom: $global-margin;
  background: gray(3);
  border: 1px solid gray(7);
  border-bottom: 1px solid gray(10);
  padding: $global-padding * 0.5;

  @include breakpoint(medium) {
    @include flex-align(right, bottom);
    padding: $global-padding $global-padding 0;
  }

  .exo-list-top--shadow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      box-shadow: 0 0 20px gray(40);
      pointer-events: none;
      height: 50px;
      // width: 100%;
      border-radius: 100px / 20px;
      opacity: 0.3;
      bottom: 100%;
      left: 50px;
      right: 50px;
    }
  }
}

.exo-list .exo-list-states--links {
  @include flex;
  @include flex-align(left, stretch);
  flex-direction: column;
  flex: 1 1 auto;

  @include breakpoint(medium) {
    @include flex-align(right, bottom);
    flex-direction: row;
    flex: 0 0 auto;
  }

  a {
    position: relative;
    display: block;
    padding: $global-padding;
    border: 1px solid gray(3);
    background: gray(3);
    color: gray(60);
    border-radius: $global-radius;
    transition: all $global-speed;
    overflow: hidden;
    z-index: 5;
    white-space: nowrap;
    text-decoration: none;

    @include breakpoint(medium) {
      border-radius: $global-radius $global-radius 0 0;
      border-bottom-color: gray(7);
      margin-bottom: -1px;
      margin-left: rem-calc(5);
    }

    &:hover {
      border: 1px solid gray(60);
      background: gray(60);
      color: gray(0) !important;
    }

    &.exo-list-states--active {
      border: 1px solid gray(10);
      background: gray(0);
      color: gray(70);

      @include breakpoint(medium) {
        border-bottom-color: gray(0);
      }

      &:hover {
        color: gray(70) !important;
      }
    }
  }
}

.exo-list-draggable {
  @include flex;

  > * {
    margin: 0 !important;
  }

  .form-submit {
    margin: 0 $global-margin 0 0;
  }
}
