.exo-component-wrapper {
  @include flex();
  @include flex-align(center, middle);
  position: relative;
  // Removed because it makes elements hard to style. May need to restore.
  // overflow: hidden;

  > .exo-component {
    flex: 1 1 auto;
    position: static;
  }

  p {

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.exo-component-content {
  position: relative;
  z-index: 10;
  padding-left: $global-padding;
  padding-right: $global-padding;
}

.exo-component-flush {
  padding-left: 0;
  padding-right: 0;
}

.exo-modifier {
  transition: all $global-speed;

  .exo-component {

    &:before,
    &:after {
      transition: all $global-speed;
    }
  }

  .exo-component-content,
  .exo-modifier--color-bg,
  .exo-modifier--color-bg-invert,
  .exo-modifier--color,
  .exo-modifier--color-invert,
  .exo-modifier--color-border,
  .exo-modifier--color-border-invert,
  .exo-modifier--height {
    transition: all $global-speed;
  }
}
