$sizes: 10, 20, 30, 60, 90, 120, 150, 180;

@each $size in $sizes {

  .exo-modifier--margin-#{$size} {
    margin: $global-margin;

    @include breakpoint(medium) {
      margin: max($global-margin, rem-calc($size));
    }

    @include breakpoint(large) {
      margin: rem-calc($size);
    }
  }

  .exo-modifier--margin-v {

    &-#{$size} {
      margin-top: max($global-margin, rem-calc($size * 0.6));
      margin-bottom: max($global-margin, rem-calc($size * 0.6));
    }

    &-top-#{$size} {
      margin-top: max($global-margin, rem-calc($size * 0.6));
    }

    &-bottom-#{$size} {
      margin-bottom: max($global-margin, rem-calc($size * 0.6));
    }

    @include breakpoint(medium) {

      &-#{$size} {
        margin-top: max($global-margin, rem-calc($size * 0.8));
        margin-bottom: max($global-margin, rem-calc($size * 0.8));
      }

      &-top-#{$size} {
        margin-top: max($global-margin, rem-calc($size * 0.8));
      }

      &-bottom-#{$size} {
        margin-bottom: max($global-margin, rem-calc($size * 0.8));
      }
    }

    @include breakpoint(large) {

      &-#{$size} {
        margin-top: rem-calc($size);
        margin-bottom: rem-calc($size);
      }

      &-top-#{$size} {
        margin-top: rem-calc($size);
      }

      &-bottom-#{$size} {
        margin-bottom: rem-calc($size);
      }
    }
  }

  .exo-modifier--margin-h-#{$size} {
    margin-left: $global-margin;
    margin-right: $global-margin;

    @include breakpoint(medium) {
      margin-left: max($global-margin, rem-calc($size));
      margin-right: max($global-margin, rem-calc($size));
    }

    @include breakpoint(large) {
      margin-left: rem-calc($size);
      margin-right: rem-calc($size);
    }
  }
}
