$sizes: 10, 20, 30, 40, 50, 60, 70, 80, 90;

@mixin overlay() {

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    pointer-events: none;
    background-color: color(theme-black);
  }
}

.exo-modifier--overlay {
  position: relative;

  .exo-component {
    @include overlay;
  }

  &.exo-invert {

    .exo-component {

      &:before {
        background-color: color(theme-white);
      }
    }
  }
}

// Nested.
.exo-component .exo-modifier--overlay {
  @include overlay;
}

@each $size in $sizes {
  .exo-modifier--overlay-#{$size} {

    .exo-component {

      &:before {
        opacity: $size / 100;
      }
    }
  }

  // Nested.
  .exo-component .exo-modifier--overlay-#{$size},
  .exo-modifier--overlay-#{$size} .exo-modifier--overlay {

    &:before {
      opacity: $size / 100;
    }
  }
}
