.exo-toolbar-element-list {
  @include flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: rem-calc(200);

  > li {
    width: 100%;
    text-align: center;
    transition: background $global-speed, transform $global-speed;

    > a {
      display: block;
      padding: rem-calc(5);
      position: relative;
      margin: 0 auto;
    }

    .exo-icon,
    .exo-icon-label {
      transition: color 300ms, transform $global-speed / 3;
    }

    // .exo-icon {
    //   display: block;
    //   font-size: rem-calc(30);
    //   padding-bottom: rem-calc(10);
    // }

    // &:hover {

    //   > a {

    //     .exo-icon {
    //       transform: scale(0.95);
    //     }
    //   }
    // }
  }
}
