@use "sass:math";

.exo-toolbar-element-grid {
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: rem-calc(320);
  @include flex;

  > li {
    width: 33.33%;
    text-align: center;
    transition: background-color $global-speed, transform $global-speed;

    > a {
      padding: rem-calc(20);
      position: relative;
      margin: 0 auto;
      text-decoration: none;
    }

    .exo-icon,
    .exo-icon-label {
      transition: color 300ms, transform math.div($global-speed, 3);
    }

    .exo-icon {
      display: block;
      font-size: rem-calc(30);
      padding-bottom: rem-calc(10);
    }

    &:hover {

      > a {

        .exo-icon {
          transform: scale(1.2);
        }
      }
    }
  }
}
