.exo-form {

  .form-managed-file__main {
    @include flex;
    margin: 0;
    padding: 0;

    > * {
      width: 100%;
    }

    .file {
      margin: 0;
    }
  }
}

.exo-form-file {

  .file {
    display: block;
  }
}

.exo-form-inline.exo-form-inline-all > .exo-form-file {
  margin-left: 0;
  margin-right: 0;
}

.draggable {

  td {

    &:first-child {
      @include flex;
      @include flex-align(left, middle);

      > a {
        flex: 0 0 auto;
      }

      > .exo-form-element {
        flex: 1 1 auto;
      }
    }

    &:last-child {
      width: 1%;
      white-space: nowrap;
    }

    .exo-form-element-type-managed-file.exo-form-managed-file {
      border: 0;
      padding: 0;

      .form-managed-file {

        > span {
          flex: 0 0 auto;
          width: auto;
          min-width: rem-calc(100);
        }

        > .exo-form-file-input {
          flex: 1 1 auto;
        }
      }
    }
  }

  .form-managed-file {
    @include flex;
    @include flex-align(left, middle);
    white-space: nowrap;
  }
}

.exo-form-managed-file {
  padding: $global-padding;

  .form-managed-file {
    margin: 0;

    &.no-upload {
      display: block;
    }
  }

  .exo-form-element {
    margin-bottom: 0;
    margin-top: 0;
  }

  .image-widget-data {
    float: none;

    > * {
      margin-bottom: 0 !important;
    }

    .exo-form-container-focal-point {
      display: none;
    }
  }

  .exo-form-element-intersect {
    .image-preview,
    .image-widget-data {
      margin-top: $global-margin;
    }
  }

  .image-widget {

    > .exo-form-inline {
      margin: 0;
    }

    .image-preview {
      @include flex;
      @include flex-align(center, middle);
      flex: 0;
      float: none;
      margin: 0;
      padding: 0 $global-padding * 0.5 0 0;

      img {
        width: auto;
        max-width: inherit;
        border: 1px solid gray(10);
      }
    }

    .image-widget-data {
      flex-wrap: nowrap;
      overflow: hidden;
      margin: 0;

      .description {
        display: none;
      }

      .exo-form-element-type-textfield {
        margin-bottom: $global-margin;
      }

      > span {
        flex: 0 0;
        white-space: nowrap;

        .exo-form-file-input {
          flex: 1 1 auto;
        }
      }

      .exo-form-file-input {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .file-size {
        flex: 0 0 1%;
        white-space: nowrap;
      }
    }
  }

  .file {
    display: block;

    // Managed file preview.
    &.exo-form-file-input.file {
      flex: 1 1 100%;
      padding: $global-padding * 0.5;
      padding-left: $global-padding * 1.75;
      background-position: $global-padding * 0.5 center;
    }
  }

  .exo-form-element-type-submit {
    flex: 0 0 1%;
  }
}

.exo-form .exo-form-managed-file,
.exo-form .exo-form-file {

  .description {
    padding-top: rem-calc(3);
  }
}

.exo-form-file-input {
  position: relative;
  display: block;
  padding: 0 $global-padding;

  &.file {
    margin: 0 $global-margin 0 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-right: $global-padding !important;
    // min-height: 0 !important;
    // line-height: 1 !important;

    .image-widget-data & {
      padding-left: $global-padding !important;
    }
  }

  > * {
    position:relative;
    z-index: 3;
  }

  input[type="file"] {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: $input-height;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
  }

  &:after {
    content: attr(data-text);
  }

  &.exo-form-file-button {

    &:after {
      width: calc(100% - 75px);
    }
  }
}

.exo-form-file-button {

  &:before {
    @include flex;
    @include flex-align(center, middle);
    content: 'Upload';
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    z-index: 2;
    font-size: rem-calc(14);
    padding: 0 $global-padding;
    text-transform: capitalize;
    pointer-events: none;
    box-sizing: border-box;
    line-height: 1;
  }
}
