.exo-form-pseudo {
  @include flex-align(left, middle);
  display: flex !important;
  box-sizing: border-box;

  > label {
    white-space: nowrap;
  }

  > div {
    flex: 1 1 100%;
    display: block;
  }
}
