.exo-form .exo-form-vertical-tabs {

  // Reset
  // @see adminimal.
  .vertical-tabs,
  .vertical-tabs.form-item,
  .vertical-tabs .vertical-tabs {
    background: transparent;
    border: 0;
    margin: 0;
  }

  > label {
    @include wrapper-label;
  }

  > .field-input {
    padding: 0;
  }

  .vertical-tabs:not(.form-item) {
    @include flex;
    @include flex-align(justify, stretch);
  }

  .vertical-tabs__menu {
    position: relative;
    z-index: 2;
    width: $tab-menu-width;
    max-width: $tab-menu-width;
    min-width: $tab-menu-width;
    list-style: none;
    margin: 0;
    float: none;

    li {
      margin: 0 0 rem-calc(2);
      padding: 0;
      overflow: visible;

      a {
        display: block;
        padding: $global-padding $global-padding * 0.5;
        transition: color $global-speed ease, background-color $global-speed ease;
        line-height: 1.2;
        box-shadow: none;
        margin: 0;

        .vertical-tabs__menu-item-title {
          font-size: $tab-menu-font-size;
          font-weight: $tab-menu-font-weight;
        }

        .vertical-tabs__menu-item-summary {
          display: block;
          font-size: $tab-menu-font-size * 0.9;
          font-style: italic;
        }

        &:before,
        &:after {
          display: none;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      &.is-selected {
        margin-right: rem-calc(-3);

        &:after {
          background-size: 100% 2px, 100% 1px;
        }
      }

      &:before {
        display: none;
      }

      &:after {
        content: '';
        position: relative;
        z-index: 10;
        display: block;
        height: 1px;
        width: 100%;
        margin: -1px 0 0;
        border: 0;
        background-size: 0 1px, 100% 1px;
        background-repeat: no-repeat;
        background-position: center bottom, center 100%;
        overflow: hidden;
        transition: all $global-speed ease-out;
      }
    }
  }

  .vertical-tabs__panes,
  .vertical-tabs__items {
    position: static;
    margin: 0 0 0 rem-calc(2);
    flex: 1 1 auto;
    z-index: 1;
    top: 0;
    box-shadow: none;

    .vertical-tabs__pane,
    .vertical-tabs__item {
      padding: $global-padding;
      border: 0;
      margin-top: 0;
      margin-bottom: 0;
      background: transparent;

      > summary {
        display: none;
      }
    }

    .claro-details--vertical-tabs-item {
      padding: 0;
    }
  }
}
