{#
/**
 * @file
 * Default theme implementation for the eXo splash.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - heading: The heading or label for the splash.
 *
 * @see template_preprocess_exo_splash()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'exo-splash',
    'exo-reset',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="exo-splash-inner">
    <h2 class="visually-hidden">{{ heading }}</h2>
    {{ content }}
  </div>
</div>
<script type="text/javascript">
  <!--
    if (window.sessionStorage && !window.sessionStorage.getItem('exo-splash')) {
      window.sessionStorage.setItem('exo-splash', true);
      var b = document.getElementById('exo-splash');
      b.classList.add('active');
    }
  //-->
</script>
