////////////////////////////////////////////////////////////////////////////////
/// Labels
////////////////////////////////////////////////////////////////////////////////
$label-height: rem-calc(20);
$label-font-size: rem-calc(14);
$label-transform: translateY($label-height * -1);